@{
    ViewData["Title"] = "Home Page";
}
@foreach (var item in ViewBag.DicEquipos.Key)
{
 <p>@item</p>
   <img src="@ViewBag.DicEquipos[item].Camisetas"/>
    <img src="@ViewBag.DicEquipos[item].Camisetas"/>
    <img src="@ViewBag.DicEquipos[item].Camisetas"/>
       <img src="@ViewBag.DicEquipos[item].Camisetas"/>//deje aca tengo que hacer que muestre los equipos, las camisetas, los pantalones y las medias
       
}

